@import "../../styles/variables.css";
@import "../../styles/fonts.css";

.contactForm {
  max-width: var(--size-width-form, 500px);
  margin: 0 auto;
  padding: 1.5rem;
  background-color: var(--color-light-bg);
  border-radius: var(--radius-lg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 1.5rem;
}

.privacyPolicy {
  font-size: 0.9rem;
  color: var(--color-muted);
  font-family: "Moderat", sans-serif;
  line-height: 1.4;
  text-align: center;
}

.privacyPolicy a {
  color: var(--color-primary);
  text-decoration: none;
}

.privacyPolicy a:hover {
  text-decoration: underline;
}

button {
  margin-block: 1.2rem;
}
