.checkboxGroup {
  display: flex;
  margin-block: 1rem;
  inline-size: auto;
  flex-direction: column;
  gap: 1rem;
}

@supports (width: fit-content) {
  .checkboxGroup {
    inline-size: fit-content;
  }
}

.options {
  display: flex;
  margin-inline-start: 1.5rem;
  flex-direction: column;
  gap: 0.5rem;
}

.checkbox {
  inline-size: 24px;
  block-size: 24px;
}
