.badge {
  font-family: var(--primary-body-font);
  padding: var(--space-internal-12) var(--space-internal-16);
  border-radius: 999px;
  font-size: 0.75em;
  font-weight: 600;
  background: var(--color-muted-light);
  color: var(--color-dark);
  letter-spacing: 0.02em;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  overflow: hidden;
}

.s {
  padding: var(--space-internal-8) var(--space-internal-12);
  font-size: 0.65em;
}

.l {
  font-size: 1.1em;
  padding: var(--space-internal-12) var(--space-internal-16);
}

.square {
  border-radius: 0;
}

.primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.success {
  background: var(--color-success);
  color: var(--color-white);
}

.info {
  background: var(--color-info);
  color: var(--color-white);
}

.error {
  background: var(--color-error);
  color: var(--color-white);
}

.neutral {
  background: var(--color-muted-light);
  color: var(--color-dark);
}

.removable {
  padding-block: 0;
  padding-inline-end: 0;
}

.closeButton {
  background: none;
  border: none;
  margin-left: -1.25em; /* Pull button into reserved space */
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  color: var(--color-white);
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  height: 1.5em;
  width: 1.5em;
  justify-content: center;
}

.icon {
  display: inline-block;
  margin-right: 0.4em;
  vertical-align: middle;
}
