.socialShare {
  display: flex;
  block-size: 2.5rem;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.socialShare a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  text-decoration: none;
  color: var(--primary-text-color);
}

.copyButton svg {
  margin: 0 auto;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--primary-text-color);
}

.socialShare a svg {
  width: 1.5rem;
  height: 1.5rem;
}

.copyButton {
  display: flex;
  align-items: center;
  gap: var(--space-internal-4);
  font-weight: 600;
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: pointer;
}

.copyButton span {
  margin-inline-end: 0;
}

.copyButtonText {
  display: inline;
}

@media (width < 768px) {
  .copyButton {
    display: flex;
    padding: 0;
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    min-height: 1.5rem;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--primary-background-color);
  }

  .copyButton svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
