.socialShare {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  align-items: center;
  block-size: 2.5rem;
}

.socialShare a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  text-decoration: none;
}

.copyButton svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--primary-text-color);
  margin: 0 auto;
  padding: 0;
}

.socialShare a svg {
  width: 1.5rem;
  height: 1.5rem;
}

.copyButton {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: var(--space-internal-4);
  cursor: pointer;
  color: var(--primary-text-color);
  text-decoration: none;
}

.copyButton span {
  margin-right: 0;
}

.copyButtonText {
  display: inline;
}

@media (width < 768px) {
  .copyButtonText {
    display: none;
  }

  .copyButton {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    gap: 0 !important;
    width: 1.5rem;
    height: 1.5rem;
    min-width: unset !important;
    min-height: unset !important;
  }
}
