@import "../../styles/variables.css";
@import "../../styles/fonts.css";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  height: 2.5rem;
  font-family: "Moderat", sans-serif;
}

.button.primary {
  background-color: var(--color-primary);
  color: white;
  border: none;
}

.button.secondary {
  background-color: transparent;
  color: var(--color-primary);
  border: 0.125rem solid var(--color-primary);
}

.button.tertiary {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
}

.button.error {
  background-color: var(--color-error);
  color: white;
  border: none;
}

.button.success {
  background-color: var(--color-success);
  color: white;
  border: none;
}

.button.info {
  background-color: var(--color-info);
  color: white;
  border: none;
}

.button:disabled {
  background-color: var(--color-disabled-bg);
  color: var(--color-muted);
  cursor: not-allowed;
}

.button.icon-only {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2.5rem;
  text-align: center;
  line-height: 1;
}

.button.icon-only .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.icon {
  margin-right: 0.5rem;
}

.end-icon {
  margin-left: 0.5rem;
}

.button > :not(:last-child):is(svg, .icon) + .text {
  margin-left: 0.5rem; /* Add padding between icon and text */
}

.button > .text + :is(svg, .end-icon) {
  margin-left: 0.5rem; /* Add padding between text and icon when icon is on the right */
}
