.container {
  display: flex;
  max-inline-size: 100%;
  flex-direction: column;
  gap: var(--space-internal-8);
}

.selectionCell {
  inline-size: 3rem;
}

.empty {
  padding-block: var(--space-layout-32);
  color: var(--color-muted);
}

.pagination {
  display: flex;
  padding-inline: var(--space-internal-4);
  justify-content: space-between;
  align-items: center;
  gap: var(--space-internal-16);
  font-size: var(--font-size-text-xs);
  color: var(--color-muted);
}

.paginationStatus {
  font-variant-numeric: tabular-nums;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: var(--space-internal-2);
}
