@import "../../styles/variables.css";
@import "../../styles/fonts.css";

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: "Moderat", sans-serif;
}

.input {
  padding: 0.5rem;
  margin-block-start: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--color-border-light);
  border-radius: var(--radius-sm);
  font-family: "Moderat", sans-serif;
  transition: border-color 0.3s;
  height: 36px;
  box-sizing: border-box;
}

.input:focus {
  border-color: var(--color-primary);
  outline: none;
  border-width: 1px;
  outline: 1px solid var(--color-primary);
  box-sizing: border-box;
}

.error {
  border-color: var(--color-error);
  background-color: var(--color-error-bg);
}

.error-message {
  font-family: "Moderat", sans-serif;
  font-size: 0.875rem;
  color: var(--color-error-text);
  margin-top: 0.5rem;
}

.input.error::placeholder {
  color: var(--color-error); /* Error color for placeholder */
}

.input:disabled {
  cursor: not-allowed;
  background-color: var(--color-disabled-bg-light);
}

.input:disabled::placeholder {
  color: var(--color-disabled-placeholder);
}
