.stage {
  display: grid;
  position: relative;
  padding-block: var(--space-layout-32);
  padding-inline: var(--space-layout-24);
  min-block-size: calc(var(--space-layout-96) * 4);
  justify-items: start;
  align-content: center;
  background-color: var(--main-body-background-color);
  overflow: hidden;
}

.content {
  display: grid;
  position: relative;
  z-index: 1;
  max-inline-size: calc(var(--space-layout-96) * 4);
  gap: var(--space-layout-8);
}
