.wrapper {
  display: grid;
  padding-block: 0.75rem;
  padding-inline: var(--page-margin-mobile);
  inline-size: 100%;
  gap: 0.75rem;
}

@media (width >= 768px) {
  .wrapper {
    padding-inline: var(--page-margin-tablet);
  }
}

@media (width >= 1024px) {
  .wrapper {
    padding-inline: var(--page-margin-desktop);
  }
}
