.label {
  display: flex;
  align-items: center;
  gap: 0.25rem; /* 8px */
  font-family: var(--font-text);
  font-size: 1rem; /* 16px */
  color: var(--color-primary);
}

.label.disabled {
  color: var(--color-muted-light);
  cursor: not-allowed;
}

.required {
  color: var(--color-error);
}

.srOnly {
  position: absolute;
  margin: -1px;
  padding: 0;
  inline-size: 1px;
  block-size: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  overflow: hidden;
}
