.viewport {
  position: relative;
  max-inline-size: 100%;
  border: var(--space-internal-2) solid var(--color-border-light);
  border-radius: var(--radius-md);
  background: var(--main-body-background-color);
  overflow: auto;
  overscroll-behavior: contain;
}

.viewport:focus-within {
  outline: var(--focus-ring-width) solid var(--focus-ring-color);
  outline-offset: var(--focus-ring-offset);
}

.spacer {
  position: relative;
  inline-size: 100%;
}

@media (forced-colors: active) {
  .viewport {
    border-color: CanvasText;
  }

  .viewport:focus-within {
    outline-color: Highlight;
  }
}
