@import url("../../styles/variables.css");
@import url("../../styles/fonts.css");

.title {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  color: var(--color-title);
  margin: 0 0 1rem;
}

.titleS {
  font-size: 1.5rem;
}

.titleM {
  font-size: 2rem;
}

.titleL {
  font-size: 3rem;
}

.titleXL {
  font-size: 5rem;
}

.fontSerif {
  font-family: var(--font-title, "TiemposHeadline-Regular"), serif;
}

.fontSans {
  font-family: Moderat, var(--font-text, Moderat), sans-serif;
}
