.page {
  display: grid;
  padding-block: var(--space-layout-32);
  gap: var(--space-layout-32);
}

.header {
  display: grid;
  gap: var(--space-layout-8);
}

.section {
  display: grid;
  gap: var(--space-layout-16);
}

.darkPreview {
  padding: var(--space-layout-24);
  border-radius: var(--radius-lg);
  background-color: var(--color-light-bg);
}
