.notFoundPage {
  display: flex;
  position: relative;
  block-size: 100vb;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  background-image: url("/404.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.notFoundPage > :first-child {
  position: absolute;
  inset-block-start: 2rem;
  inset-inline-start: 2rem;
}

/* Responsive adjustments */
@media (width <= 768px) {
  .notFoundPage {
    background-size: contain;
  }
}

.actions {
  display: flex;
  margin-block-start: 1rem;
  gap: 1rem;
}
