.logoWrapper {
  display: inline-block;
  position: relative;
  inline-size: 256px;
  block-size: 256px;
}

.logoBlur {
  position: absolute;
  inset: 0;
  z-index: 1;
  inline-size: 256px;
  block-size: 256px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(10px);
}

.logoImage {
  position: relative;
  z-index: 2;
  inline-size: 256px;
  block-size: 256px;
  object-fit: contain;
}

.logoImageBlend {
  mix-blend-mode: difference;
}

.logoImageNormal {
  mix-blend-mode: normal;
}
