@import url("../styles/variables.css");
@import url("../styles/fonts.css");

.blog {
  padding: 0 6rem 2rem;
}

.blog h1 {
  font-family: "var(--primary-heading-font, serif)";
  font-weight: var(--primary-heading-weight, 300);
  font-size: 5rem;
  text-align: left;
  margin-bottom: 4rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
}
