@import "../styles/variables.css";
@import "../styles/fonts.css";

.blog {
  padding: 6rem;
  margin-block-start: 4rem;
}

.blog h1 {
  font-family: "var(--primary-heading-font, serif)";
  font-weight: var(--primary-heading-weight, 300);
  font-size: 5rem;
  text-align: left;
  margin-bottom: 4rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
}

.card {
  background-color: var(--color-light-bg);
  border: 2px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
  padding: 1.5rem;
  transition: background-color 0.2s;
}

.card:hover {
  filter: brightness(120%);
}

.card:focus {
  outline: 3px solid var(--color-primary);
  outline-offset: -3px;
}
.card h2 {
  font-family: var(--primary-heading-font, serif);
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  margin: 0.5rem 0;
}

.title {
  font-family: var(--primary-heading-font, serif);
  font-size: 1.75rem;
  margin: 0 0 0.5rem 0;
}

.lead {
  font-family: var(--primary-body-font, sans-serif);
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1rem;
  margin-top: auto;
}

.meta span {
  font-family: var(--primary-body-font);
  font-weight: 600;
}

.read-more {
  text-decoration: underline;
}

.pink {
  background-color: var(--accent-pink);
}
.teal {
  background-color: var(--accent-teal);
}
.purple {
  background-color: var(--accent-purple);
}

.blue {
  background-color: var(--color-light-bg);
  box-sizing: border-box;
  border: 2px solid var(--color-primary);
}
