@import "../../styles/variables.css";
@import "../../styles/fonts.css";

.contact {
  text-align: center;
  padding: 20px;
}

.contactForm {
  max-width: var(--size-width-form);
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--color-light-bg);
  border-radius: var(--radius-lg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 1.5rem;
}

.privacyPolicy {
  font-size: 0.875rem;
  color: var(--color-gray-medium);
  text-align: center;
}

.privacyPolicy a {
  color: var(--color-primary);
  text-decoration: none;
}

.privacyPolicy a:hover {
  text-decoration: underline;
}
