@import "../styles/variables.css";
@import "../styles/fonts.css";

.contact {
  text-align: center;
  padding: 32px;
}

.contact h1 {
  font-family: var(--primary-heading-font, serif);
  font-size: 5rem;
  font-weight: var(--primary-heading-weight, 300);
  margin-block: 6rem;
  color: var(--color-primary);
}

.contact h2 {
  font-family: var(--secondary-heading-font, sans-serif);
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-secondary);
}

.contactForm {
  max-width: var(--size-width-form);
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--color-light-bg);
  border-radius: var(--radius-lg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 1.5rem;
}

.privacyPolicy {
  font-size: 0.875rem;
  color: var(--color-gray-medium);
  text-align: center;
}

.privacyPolicy a {
  color: var(--color-primary);
  text-decoration: underline;
}

.privacyPolicy a:hover {
  text-decoration: underline;
}

/* Added a class for styling the privacy policy paragraph */
.contact-form p {
  font-family: "Moderat", sans-serif;
  font-size: 0.875rem;
  color: var(--color-gray-medium);
  text-align: center;
  margin: 0;
}
