@import "../styles/variables.css";
@import "../styles/fonts.css";

.contact {
  text-align: center;
  padding: 20px;
}

.contact-form {
  max-width: var(--size-width-form);
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--color-light-bg);
  border-radius: var(--radius-lg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.5rem;
}

.privacy-policy {
  font-size: 0.875rem;
  color: var(--color-gray-medium);
  text-align: center;
}

.privacy-policy a {
  color: var(--color-primary);
  text-decoration: none;
}

.privacy-policy a:hover {
  text-decoration: underline;
}
