@import url("https://fonts.googleapis.com/css2?family=Tiempos+Headline:wght@400&display=swap");
@import "../styles/variables.css";
@import "../styles/fonts.css";

.home {
  text-align: left;
  padding: 24px;
}

.grid-item-pink {
  background-color: #f205c5; /* Fallback for browsers that don't support CSS variables */
  background-color: var(--accent-pink);
}

.grid-item-purple {
  background-color: #812eff; /* Fallback */
  background-color: var(--accent-purple);
}

.grid-item-teal {
  background-color: #85b5bd; /* Fallback */
  background-color: var(--accent-teal);
}

.grid-item-violet {
  background-color: #bc6dff; /* Fallback */
  background-color: var(--accent-violet);
}

.grid-item-cyan {
  background-color: #71efff; /* Fallback */
  background-color: var(--accent-cyan);
}

.grid-item-yellow {
  background-color: #f2e274; /* Fallback */
  background-color: var(--accent-yellow);
}

.grid-item-blank {
  background-color: transparent;
  height: 240px;
}

h2 {
  font-family: var(--primary-heading-font);
  font-size: 8rem;
  font-weight: 500;
  margin-block-start: -5.6rem;
}

.lead {
  font-family: var(--primary-body-font);
  font-size: 2.5rem;
  line-height: 1.5;
  color: var(--main-body-copy-color);
}
