@import "../styles/variables.css";
@import "../styles/fonts.css";

.work {
  text-align: center;
  padding: 20px;
}

.work h1 {
  font-family: var(--primary-heading-font, "Times New Roman"), serif;
  font-size: 14rem;
  font-weight: var(--primary-heading-weight, 300);
  line-height: 1.2;
}

.work-page {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  transition: transform 0.5s cubic-bezier(0.25, 1.25, 0.5, 1);
}

/* Added keyboard navigation styles */
:focus-visible {
  outline: none;
}

.work-page:focus-visible {
  scroll-behavior: smooth;
}

.section1 {
  background-color: var(--accent-pink);
}

.section2 {
  background-color: var(--accent-purple);
  font-family: "Moderat", sans-serif;
  font-size: 5rem;
}

.section3 {
  position: relative;
  overflow: hidden;
}

.section3 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section4 {
  background-color: var(--accent-violet);
  font-family: "TiemposHeadline-BlackItalic", serif;
  font-size: 15rem;
  font-style: italic;
}

.section5 {
  background-color: var(--accent-cyan);
}

.section6 {
  background-color: var(--accent-yellow);
}

.section7 {
  background-color: var(--color-gray-dark);
}

.section8 {
  background-color: var(--main-body-copy-color);
}

ul {
  list-style-type: none;
  padding: 0;
  line-height: 1.2;
}
