.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.checkbox {
  width: 24px;
  height: 24px;
}

.checkbox:indeterminate {
  background-color: #e0e0e0;
  border: 1px solid var(--colo-primary);
  border-radius: 2px; /* Slightly rounded corners */
  appearance: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
}

.checkbox:indeterminate::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: #333;
  transform: translate(-50%, -50%);
  border-radius: 1px; /* Slightly rounded edges for the dash */
}

.label {
  font-size: 1rem;
  color: var(--color-gray-dark);
}
