@import url("../../styles/variables.css");
@import url("../../styles/fonts.css");

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-primary);
  cursor: pointer;
}

.checkbox:hover {
  color: var(--color-primary);
}

.checkbox:indeterminate {
  background-color: #e0e0e0;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  appearance: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
}

.checkbox:checked {
  background-color: var(--color-primary);
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: white;
  transform: translate(-50%, -50%) rotate(45deg);
}
.checkbox:indeterminate::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: var(--color-primary);
  transform: translate(-50%, -50%);
}

.label {
  font-size: 1rem;
  color: var(--color-primary);
}
