.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: #00f;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
  font-size: 1rem;
  font-family: "Moderat-Regular";
  color: #00f;
}
