.authorBio {
  --author-bio-padding: 1.5rem;

  margin-block-start: 2rem;
  padding: var(--author-bio-padding);
  border: 2px solid var(--color-primary);
  background: var(--main-body-background-color);
  box-shadow: 0 8px 30px rgb(0 0 0 / 4%);
}

.header {
  display: flex;
  margin-block: 0 1rem;
  align-items: center;
  gap: 1rem;
}

.header img,
.article img {
  margin-block: 1rem 0.5rem;
}

.name {
  margin: 0.25rem 0 0;
  font-size: 1.5rem;
  color: var(--color-text);
}

.tagline {
  position: relative;
  margin: 0 0 1.5rem;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-text);
  padding-bottom: 2rem;
}

.tagline::after {
  position: absolute;
  right: calc(-1 * var(--author-bio-padding));
  bottom: 0;
  left: calc(-1 * var(--author-bio-padding));
  border-bottom: 2px solid
    color-mix(in srgb, var(--color-primary) 20%, transparent);
  content: "";
}

.bioContent {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-text);
}

.bioContent p {
  margin: 0 0 1rem;
}

.contact {
  display: block;
  margin-block-start: 1.5rem;
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-text);
}
