.link {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-text);
  text-decoration: none;
  color: var(--link-color);
}

.linkS {
  gap: 0.3rem;
  font-size: 1rem;
}

.linkM {
  gap: 0.5rem;
  font-size: 1.125rem;
}

.linkL {
  gap: 0.5rem;
  font-size: 1.5rem;
}

.icon {
  font-size: 0.75em; /* 12px */
}

.externalIcon {
  display: inline-flex;
  align-items: center;
  translate: 0 -2px;
}

.linkS .externalIcon {
  translate: 0 -1px;
}

.link.disabled {
  color: var(--color-gray-medium);
  pointer-events: none;
  opacity: 0.5;
}
