.avatar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-text {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007cf0;
  color: white;
  font-family: "Moderat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
