@import url("../../styles/variables.css");
@import url("../../styles/fonts.css");

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  color: var(--main-body-copy-color);
  padding: var(--space-layout-32);
}

header h2 a {
  font-family: var(--primary-body-font, "Moderat-Bold"), serif;
  text-transform: uppercase;
  color: var(--main-body-copy-color);
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  text-decoration: none;
}

.header nav ul {
  padding-inline-start: var(--space-layout-0);
}

.nav {
  list-style: none;
  display: flex;
  gap: var(--space-internal-16);
}

.nav a {
  font-family: var(--primary-body-font, "Moderat-Regular"), serif;
  font-size: 1.2rem;
  color: var(--main-body-copy-color);
  text-decoration: none;
}

.logo {
  width: 18rem;
  height: auto;
  display: block;
}

.themeToggle {
  background: none;
  border: none;
  color: var(--color-primary);
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  padding: 0.5em 1em;
  transition: color 0.2s;
}

.themeToggle:hover {
  color: var(--color-primary);
}
