@import "../../styles/variables.css";
@import "../../styles/fonts.css";

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  color: var(--main-body-copy-color);
  padding: 2rem;
}

header h2 a {
  font-family: var(--primary-body-font, "Moderat-Bold"), serif;
  text-transform: uppercase;
  color: var(--main-body-copy-color);
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  text-decoration: none;
}

.nav {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  font-family: var(--primary-body-font, "Moderat-Regular"), serif;
  font-size: 1.2rem;
  color: var(--main-body-copy-color);
  text-decoration: none;
}

ul {
  padding-inline-start: 0;
}
