@import url("../../styles/variables.css");
@import url("../../styles/fonts.css");

.cookieConsent {
  background-color: var(--color-gray-light);
  border-top: 1px solid var(--color-gray);
  padding: 1rem;
  font-family: Moderat, sans-serif;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
  font-size: 1.1rem; /* 14px */
  line-height: 1.6;
  align-items: start;
}

.cookieConsent a {
  color: var(--color-primary);
  text-decoration: underline;
}

.cookieConsent .footer {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}
