@import url("../../styles/variables.css");
@import url("../../styles/fonts.css");

.cookieConsent {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  background-color: var(--color-gray-light);
  font-family: Moderat, sans-serif;
  border-top: 1px solid var(--color-gray);
}

p {
  margin: 0;
  align-items: start;
  font-size: 1.1rem; /* 14px */
  line-height: 1.6;
}

.cookieConsent a {
  color: var(--color-primary);
}

.cookieConsent .footer {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.footerActions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.leftActions {
  display: flex;
  align-items: center;
}

.rightActions {
  display: flex;
  gap: 0.5rem;
}

@media (width <= 768px) {
  .footerActions {
    flex-direction: column;
    align-items: stretch;
    gap: 0.75rem;
  }

  .leftActions {
    justify-content: center;
  }

  .rightActions {
    width: 100%;
    flex-direction: column;
  }

  .rightActions > button {
    width: 100%;
  }
}
