.clockContainer {
  margin-block-end: var(--space-layout-32);
  justify-content: flex-start;
  align-items: start;
  font-family: var(--primary-body-font, sans-serif);
  text-align: start;
}

.date {
  font-size: 1.1rem;
  font-weight: 600;
}

.time {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.04em;
}
